name: Build and deploy CarRentalApp MVC to Azure

env:
  AZURE_WEBAPP_NAME: carrentalapp-vp26
  DOTNET_VERSION: '9.x'

on:
  push:
    branches:
      - main
  workflow_dispatch:

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: ${{ env.DOTNET_VERSION }}

      - name: Restore
        run: dotnet restore CarRentalApp/CarRentalApp.csproj

      - name: Build
        run: dotnet build CarRentalApp/CarRentalApp.csproj --configuration Release --no-restore

      - name: Publish
        run: dotnet publish CarRentalApp/CarRentalApp.csproj -c Release -o ${{env.DOTNET_ROOT}}/mvcapp

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: mvc-app
          path: ${{env.DOTNET_ROOT}}/mvcapp

  deploy:
    runs-on: ubuntu-latest
    needs: build

    steps:
      - name: Download artifact
        uses: actions/download-artifact@v4
        with:
          name: mvc-app

      - name: Deploy to Azure Web App
        uses: azure/webapps-deploy@v3
        with:
          app-name: carrentalapp-vp26
          publish-profile: ${{ secrets.AZURE_PUBLISH_PROFILE_CARRENTALAPP }}
          package: .
